<configuration>
    <ccolaborator_url>http://94.244.134.92:8081/services/json/v1</ccolaborator_url>
    <path_to_tomcat_webapps>C:\Program Files\Apache Software Foundation\Tomcat 8.5\webapp</path_to_tomcat_webapps>
    <check_in_minutes>10</check_in_minutes>
    <ccolaborator_username>DenisDetkov</ccolaborator_username>
    <ccolaborator_password>12211221d</ccolaborator_password>
</configuration>